body {
	background-image: url('img/paper.jpg');
	background-position: cover;
	background-repeat: repeat-y;
	font-family: "Gloria Hallelujah";
	text-align: center;
	
}
.content {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;

}
.nav {
	  background-color:#42657c;
 position: absolute;
 top: 0;
 left: 0;
width: 100%;
  z-index:1;	
}

.info {
	text-align: center;
text-transform: uppercase; 
margin-left: auto;
margin-right: auto;
	font-size: 30px;
	width: 800px;
}


.form {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 200px;
}

#search {
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	font-family: "Gloria Hallelujah";
	width: 500px;
	border:2px dashed black; 
}



.button {
	border-radius: 10px;
	font-family: "Gloria Hallelujah";
	padding: 10px;
	width: 200px;
	background-color:#e3bd7a; 
	font-size: 20px;
	border: 2px solid black;

}

#map-canvas {
	width:800px;
	height: 600px;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.scroll {
	width: auto;
	border: 1px solid black;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: black;
	display: none;
	
	
}

footer {
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	margin-bottom: 60px;
}
 


#left {
	float: left;
	margin-right: 10px;
}

#right {
	float: right;
	margin-left: 10px;
}

#right, #left {
	margin-top: 230px;
	position: relative;
	z-index: 10;
	color:black;
	font-size: 50px;
	display: none;
}

.pic {
	margin: 0px 0px 0px 2px;
	list-style-type: scroll;
	cursor: pointer;
	max-height: 400px;
	width: auto;
	max-width: 100%;
	border: 2px solid white;
	background-repeat: no-repeat;
    
}

.imgs {
	display: inline;
	
}

.imgs #img {
	padding: 10px;
}

.hidden {
	position: absolute;
	left: 50%;
}

.fullscreen {
	background-color: black;
	width:1000px;
	height: 700px;
	left: -50%;
	position: absolute;
	margin-top: 180px;
	text-align: center;
	z-index: 5;
	display: none;
}


.pic_full {
	margin: 100px 0px 0px 100px;
	width: 800px;
	height: 500px;
	display: none;
}

.ex {
	background-image: url("img/x.png");
	background-size:cover;
	width: 50px;
	height: 50px;
	z-index:8;
	position: relative;
	float: right;
	cursor: pointer;
	margin: 10px 10px 0px 0px;
	display: none;
}

@media only screen and (max-width: 1000px) {
	.form {
		margin-top: 210px;
	}

	.hidden {
		margin-left: -30%;
	}

	.fullscreen {
		width: 800px;
		margin-left: 30%
	}


	.pic_full {
		width: 600px;
		height: 500px;
	}

	.scroll {
		width: 425px;
		height: 800px;
		overflow-y:scroll;
		display: none;
		
		white-space: normal;
		margin-right: auto;
		margin-left: auto;
		
	}

	#map-canvas {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

}

@media only screen and (max-width: 700px) {
	.form {
		margin-top: 210px;
	}



	#map-canvas {
		width: 600px;
		
		
	}

	
	

	#left, #right {
		visibility: hidden;
	}

	.hidden {
		margin-left: -25%;
	}

	.fullscreen {
		width: 600px;
		height: 500px;
		margin-left: 25%;
	}


	.scroll {
		width: 425px;
		height: 800px;
		overflow-y:scroll;
		display: none;
		
		white-space: normal;
		margin-right: auto;
		margin-left: auto;

		
	}



} 
